.publications-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}

.publication-card-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    max-height: 200px;

    position: relative;

    /* border-bottom: 4px solid var(--color-primary); */

    padding: 0;
}

.publications-text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;

    padding: var(--card-padding);

    text-align: left;

    width: 100%;
}

.publication-link-icon {
    position: absolute;
    top: var(--card-padding);
    right: var(--card-padding);;
    color: var(--color-text-primary);
}

.publication-link-icon:hover {
    cursor: pointer;
    color: var(--color-primary);
}

.publication-image-container {
    position: relative;
    display: flex;
    flex: 1;

    /* height: 100%; */
    max-height: 100%;

    padding-right: 24px;
    
    justify-content: right;
    align-items: center;

    box-sizing: border-box;
}

.publication-image-container img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;

    /* padding: 48px 0px; */

    display: inline;

    box-sizing: border-box;
}

/* Fade overlay */
.publication-image-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to left,                       /* For diagonal fade gradient */
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 55%,   /* stay clear longer */
        rgba(255, 255, 255, 0.6) 90%, /* start fading */
        rgba(255, 255, 255, 1) 100%   /* fully blended */
    );
}