.github-link {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
}   

.github-link:hover {
    color: rgb(13, 81, 226);
}

/* dont think this will always garuantee that it will act predictably */
.spacer {
    flex-grow: 1;
}

.section {
    padding: var(--section-padding) 0px
}

.section-title {
    margin-bottom: var(--section-padding);

    color: var(--color-text-primary);
    font-size: xx-large;
    font-weight: bold;
}