.projects-section {

    background-color: var(--color-bg-secondary);
    padding: 32px 0px
}

.projects-title-div {
    padding: 24px;
}

.projects-section-title {
    font-size: xx-large;
    font-weight: bold;
    /* font-family: "Roboto Slab",serif; */
}

.projects-content {
    width: 85%;
    max-width: var(--contect-max-width);
    margin: auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    gap: 16px;

}

.project-card-container {
    background-color: var(--color-bg-primary);
    border-radius: 20px;
    min-width: 300px;
    max-width: 350px;
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-rows: .5fr 2fr 1fr;
    margin: 20px auto;
    transition: all .2s ease-in-out; 
}

.project-card-container:hover{
    box-shadow: 6px 6px 8px 2px rgba(44, 44, 44, 0.1);
    transform: scale(1.1); 
    /* cursor: pointer; */
    color: var(--color-primary)
}

.title {
    padding: 20px;
}

.title-text {
    font-size: x-large;
    font-weight: bold;
    /* font-family: "Roboto Slab",serif; */
}

.text-holder {
    padding:20px;
}

.description-text {
    text-align: left;
    color: var(--color-text-secondary)
}


.img-holder {
    width: 100%;
}

.img-style {
    width: 100%;
    object-fit:cover;
    height: 100%;

}


/* .grow-project { 
    transition: all .2s ease-in-out; 
}

.grow-project:hover { 
    transform: scale(1.05); 
    cursor: pointer;
} */

.project-grow { 
    transition: all .2s ease-in-out; 
}

.project-grow:hover { 
    transform: scale(1.05); 
}


/* NEW PROJECT CARD STYLES */

.new-project-card-container {
    background-color: var(--color-bg-primary);
    border-radius: var(--border-radius-standard);

    padding: 24px;

    min-width: 350px;
    min-height: 250px;

    width: 1rem;

    box-shadow: 0px 6px 8px 0px rgba(44, 44, 44, 0.1);

}

.new-project-card-text-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;

    text-align: left;
}

.new-project-card-title {
    font-weight: bold;
    font-size: large;
    color: var(--color-text-primary);
}

.new-project-card-subtitle {
    font-size: small;
    color: var(--color-text-secondary);

}

.new-project-card-read-more {
    color: var(--color-text-secondary);
}

.new-project-card-read-more:hover {
    color: var(--color-primary);
}


.new-project-card-accent-line {
    width: '100%';
    height: 4px;
    background-color: var(--color-primary);
    justify-self: flex-end;
}