.footer {
    min-height: 150px;
    padding: 16px;
}

.footer-name {
    font-size: x-large;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.footer-name:hover{
    color: var(--color-primary);
}

.footer-socials {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icons {
    color: black;
    padding: 8px;
}

.footer-icons:hover {
    color: var(--color-primary)
}

.copywrite {
    width: 85%;
    max-width: var(--content-max-width);

    margin: auto;
    margin-top: 8px;
    padding: 16px;
    
    border-top: .1rem solid #e6e6e6;

    text-align: center;

}